@import "../../contrib/zurb_foundation/scss/foundation/functions";


//Service Advisor Theme 

$sa-light-blue: #30c2ba;
$sa-dark-blue: #1eb0b2;
$sa-dark-dark-blue: #1b3e40;
$sa-light-gray:#f8f8f8;
$sa-dark-gray: #a9a9a9;
$sa-gray-font-color: #abaaab;
$sa-orange:    #fa7b00;
$sa-footer: #1b3e40;
$sa-black :#333;
$sa-alert: #f04124;
$sa-border-gray: #e6e8eb;
$sa-text-color:#5c5b5c;